@model IEnumerable<ProjectProgressMonitoringSystem.Models.Student>

@{
    ViewBag.Title = "CreateGroup";
}
<br />
<br />
@using (@Html.BeginForm())
{
    <b>Semester</b>
    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
    <br />
    <br />
    <input class="btn btn-default" type="submit" value="Search" />
}
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentUSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentUSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
          
        </tr>
    }

</table>
